

*.class
*.tmp
*.temp
*.swp
*.DS_Store
Thumbs.db
ehthumbs.db

/target/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties

application.properties
application-dev.properties

!application-prod.properties

.idea/
.vscode/
*.iml
*.iws
out/

*.log
logs/
log/

docker-compose.override.yml
*.pid

.env
.env.*

firebase-service-account.json


uploads/
